<!-- ======= Constructions Section ======= -->
<section id="constructions" class="constructions">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>OM SRI SAI BALAJI</h2>
      <p>
        Om Sri Sai Balaji Temple and Cultural Center’s mission is to build and
        operate a community by promoting knowledge of culture, arts, service,
        health, and well being through education, culture, meditation, yoga,
        arts, and cultural activities.
      </p>
    </div>


    <div class="row gy-4">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div
                class="card-bg"
                style="
                  background-image: url(../../../../assets/img/gallery-1.jpg);
                "
              ></div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">History of the Temple.</h4>
                <p>The founders of Om Sri Sai Balaji Temple envisioned creating a place of worship for individuals largely based in
              the Tri-State area. After several years of research, planning, and perseverance, the founders were fortunate enough
              to secure land for the temple in Monroe, New Jersey. All plans and architectural designs were presented to the
              Planning Board of Monroe Township. The township unanimously approved the plan to construct the Authentic Hindu
              Temple and Cultural Center. An auspicious groundbreaking ceremony for the Om Sri Sai Balaji Temple was performed
              on June 26, 2016. Let us join together to create a beautiful place of worship for Lord Venkateswara and many more
              deities, including a 22 feet Hanuman idol.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->

      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div
                class="card-bg"
                style="
                  background-image: url(../../../../assets/img/gallery-4.jpg);
                "
              ></div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">Mission</h4>
                <p>
                  The primary mission of the Om Sri Sai Balaji Temple is to cater to the spiritual needs of all families and to
              celebrate all occasions, festivals and rituals. The goal of this temple is to cultivate a divine atmosphere to learn
              from the timeless knowledge present in our sacred literature. This temple also serves to inspire people to search
              for divinity present within themselves through unconditional and selfless love.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->

      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div
                class="card-bg"
                style="
                  background-image: url(../../../../assets/img/gallery-2.jpg);
                "
              ></div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">Phases of the Temple</h4>
                 <p>Phase 1 Construction: Includes the 20,000 sq. ft. Om Sri Sai Balaji Temple & Cultural Center and 165 of the total 278 parking spaces.</p>
                  <b></b>
                  <p>The Om Sri Sai Balaji temple will be built in sub-phases which comprises the following four buildings in various
                    milestones.</p>
                  <ul>
                    <li><i class="bi bi-check2-all"></i>Building 1: Sai Jnana Mandir – 2 floors with a prayer hall, classrooms, and a commercial kitchen.</li>
                    <li><i class="bi bi-check2-all"></i> Building 2: Hanuman Temple – Features a 22-ft Hanuman idol in an octagonal glass enclosure.</li>
                    <li><i class="bi bi-check2-all"></i> Main Temple – 3 floors: Garba Gudi (1st), Cultural Center & Kalyana Mandapam (Ground), Cafeteria (Basement).</li>
                    <li><i class="bi bi-check2-all"></i> Building 4: The Building four is the Priest Quarters.</li>
                  </ul>
                  <b></b>
                  <p>Temple Features: All buildings will be interconnected, constructed with granite, and feature idols imported from India.</p>
                  <p>Phase 2: Completion of the remaining parking spaces to finalize the full 278-space lot.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card Item -->
    </div>

    <!-- <div
      _ngcontent-vaq-c3=""
      data-aos="fade-up"
      data-aos-delay="300"
      class="col-lg-12 aos-init aos-animate mt-5"
    >
      <div _ngcontent-vaq-c3="" class="card-item">
        <div _ngcontent-vaq-c3="" class="row p-5 text-center">
          <p _ngcontent-vaq-c3="">
            Om Sri Sai Balaji Temple and Cultural Center’s mission is to build
            and operate a community by promoting knowledge of culture, arts,
            service, health, and well being through education, culture,
            meditation, yoga, arts, and cultural activities.
          </p>
          <br _ngcontent-vaq-c3="" /><br _ngcontent-vaq-c3="" />
          <p _ngcontent-vaq-c3="">
            The primary objective of the charitable organization is to impart
            education and elevate the awareness of the congregation and
            communities around the core values, culture, arts, diversity, and
            well-being. There is a dedicated knowledge and cultural center,
            which serves as a community place for all multi-faith cultures,
            conducts various educational and cultural programs engaging all
            walks of society (children, women, men, senior citizens, etc.,). The
            center will spread good citizenship by imparting values and culture.
          </p>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- End Constructions Section -->
