<section _ngcontent-vaq-c8="" id="features" class="features section-bg">
  <div
    _ngcontent-vaq-c8=""
    data-aos="fade-up"
    class="container aos-init aos-animate"
  >
    <div _ngcontent-vaq-c8="" class="section-header">
      <h2 _ngcontent-vaq-c8="">Cafeteria /Temple Timings</h2>
    </div>
    <ul class="nav nav-tabs d-flex justify-content-center align-items-center gap-3 flex-wrap" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab-42" role="tab" aria-selected="true" tabindex="0">
          <h4 class="mb-0">Timings <i class="fa-regular fa-clock smallicons"></i></h4>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-43" role="tab" aria-selected="false" tabindex="-1">
          <h4 class="mb-0">Cafeteria <i class="bi bi-cup-hot smallicons"></i></h4>
        </a>
      </li>
    </ul>
   
   <div class="tab-content">
  <div id="tab-42" class="tab-pane active show" role="tabpanel">
    <div class="row">
      <!-- Temple Timings -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card text-center p-4 h-100">
          <h2 class="fw-bold text-decoration-underline text-primary">
            Temple Timings
          </h2>
          <br />
          <p class="text-success fw-bold fs-5">
            WEEKENDS, NATIONAL HOLIDAYS, FESTIVALS - 8:30 AM - 8:30 PM
          </p>
          <br />
          <p class="text-success fw-bold fs-5">
            MONDAY - FRIDAY - 8:30 AM - 11:30 AM &amp; 4:30 PM - 8:30 PM
          </p>
        </div>
      </div>

      <!-- Cafeteria Timings -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card text-center p-4 h-100">
          <h2 class="fw-bold text-decoration-underline text-primary">
            Cafeteria Timings
          </h2>
          <br />
          <p class="text-success fw-bold fs-5">
            Tuesday to Friday - 5.30 P.M to 8.30 P.M
          </p>
          <br />
          <p class="text-success fw-bold fs-5">
            Saturday , Sunday &amp; Public Holidays - 11.00 A.M to 8.30 P.M
          </p>
          <br />
          <p class="text-danger fw-bold fs-4 text-decoration-underline">
            Every Monday is Closed
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- No change in second tab -->
  <div id="tab-43" class="tab-pane" role="tabpanel">
    <div class="row">
      <div class="col-3 image_section">
        <img
          src="../../../assets/images/cafeteria/cafeteria.jpeg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-3 image_section">
        <img
          src="../../../assets/images/cafeteria/cafeteria-weekend-special.jpeg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-3 image_section">
        <img
          src="../../../assets/images/cafeteria/dosa-wednesday.jpeg"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

  </div>
</section>
