Header Section
<header class="header d-flex align-items-center justify-content-between p-3 flex-wrap sticky-header">
  <!-- Left Image with Modal -->
  <div class="header-img-left">
    <img
      src="../../../../assets/images/image-left.png"
      alt="Left"
      class="img-fluid clickable"
      data-bs-toggle="modal"
      data-bs-target="#leftImageModal"
    />
  </div>

  <!-- Center Image with Modal -->
  <div class="header-img-center text-center">
    <img
      src="assets/images/jnana_mandir_logo.png"
      alt="Center"
      class="img-fluid clickable"
      data-bs-toggle="modal"
      data-bs-target="#centerImageModal"
    />
  </div>

  <!-- Right Image -->
  <div class="header-img-right text-end">
    <img
      src="../../../../assets/images/image-right.png"
      alt="Right"
      class="img-fluid"
    />
  </div>

  <!-- Toggle Button -->
  <button type="button" class="mobile-nav-toggle d-lg-none" (click)="toggleNav()">
    <i class="bi bi-list"></i>
  </button>
</header>

<!-- Navigation Bar -->
<nav [ngClass]="{'navbar-container': true, 'show': navVisible}">
  <div class="container">
    <ul class="navbar d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center">
      <li><a href="#aboutus"><i class="bi bi-info-circle"></i> About Us</a></li>
      <li><a href="#media"><i class="bi bi-images"></i> Media/Gallery</a></li>
      <li><a href="#services"><i class="bi bi-gear"></i> Services</a></li>
      <li><a href="#news"><i class="bi bi-newspaper"></i> News</a></li>
      <li><a href="#cafeteria"><i class="bi bi-cup-straw"></i> Cafeteria</a></li>
      <li><a href="#eventsactivities"><i class="bi bi-calendar-event"></i> Events & Activities</a></li>
      <li><a href="#contactus"><i class="bi bi-envelope"></i> Contact Us</a></li>
    </ul>
  </div>
</nav>
