.overlay{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}
.banner_text{
    color: #fff!important;
}

.nav-tabs .nav-link {
    border: none!important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #feb900!important;
    background-color: none!important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #feb900!important;
    background-color: #f5f6f7!important;
}


/*** Facts ***/
.facts {
    background: linear-gradient(rgba(53, 94, 252, .95), rgba(53, 94, 252, .95));
}

@media (min-width: 350px) and (max-width: 900px) {
    .hero {
      overflow-x: hidden;
      padding: 0;
      margin-top: 0px;
      max-height: 300px;
  }
}

.carousel-item {
  background-size: cover;
  background-position: center;
  height: 500px; // default desktop height
  width: 100%;
  transition: background-image 0.5s ease-in-out;
}

// Tablet
@media (max-width: 991px) {
  .carousel-item {
    height: 350px;
  }
  .nav-tabs col-1 {
    flex: 0 0 auto;
    width: 25.333333%;
  }
}

// Mobile
@media (max-width: 576px) {
  .carousel-item {
    height: 250px;
  }
}
