<!-- Header Section -->
<header class="header d-flex align-items-center justify-content-between p-3 flex-wrap sticky-header">
  <!-- Left Image with Modal -->
  <div class="header-img-left">
    <img
      src="../../../../assets/images/image-left.png"
      alt="Left"
      class="img-fluid clickable"
      data-bs-toggle="modal"
      data-bs-target="#leftImageModal"
    />
  </div>

  <!-- Center Image with Modal -->
  <div class="header-img-center text-center">
    <img
      src="assets/images/jnana_mandir_logo.png"
      alt="Center"
      class="img-fluid clickable"
      data-bs-toggle="modal"
      data-bs-target="#centerImageModal"
    />
  </div>

  <!-- Right Image -->
  <div class="header-img-right text-end">
    <img
      src="../../../../assets/images/image-right.png"
      alt="Right"
      class="img-fluid"
    />
  </div>

  <!-- Toggle Button -->
  <button class="mobile-nav-toggle d-lg-none" (click)="toggleNav()">
    <i class="bi bi-list"></i>
  </button>
</header>

<!-- Navigation Bar -->
<nav [ngClass]="{'navbar-container': true, 'show': navVisible}">
  <div class="container">
    <ul class="navbar d-flex flex-column flex-lg-row justify-content-lg-center align-items-lg-center">
      <li><a href="#aboutus">About Us</a></li>
      <li><a href="#media">Media/Gallery</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#cafeteria">Cafeteria</a></li>
      <li><a href="#eventsactivities">Events & Activities</a></li>
      <li><a href="#contactus">Contact Us</a></li>
    </ul>
  </div>
</nav>
