<div class="header">
    <div class="container">
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar overlay">
        <ul class="navbar_height">
          <li><a href="index.html" class="active">Homes</a></li>
          <li><a href="about.html">Media/Gallery</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="projects.html">Sponsor</a></li>
          <li><a href="blog.html">Community</a></li>
          <li><a href="blog.html">Events & Activities</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <div class="input-group Subscribe">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Subscribe</span>
              </div>
        </li>
        </ul>
      </nav><!-- .navbar -->

      <!-- <nav class="navbar navbar-expand-lg menubar p-0 overlay">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-items mx-3" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active ">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Media/Gallery</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Sponsor</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Events & Activities</a>
            </li>
            <li class="nav-item">
                <div class="input-group mt-3 Subscribe">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">Subscribe</span>
                  </div>
            </li>
          </ul>
        </div>
      </nav> -->
    </div>
  </div>
  