<div class="footer">
    <div class="container">
        <div class="row footer-content">
            <div class="col-md-6 ">
                <div class="footer-logo">
                    <img class="img-fluid" src="../../../../assets/images/jnana_mandir_logo.png" alt="logoimage"/>
                </div>
            </div>
            <div class="col-md-3 footer-menu">
                <h5>Information</h5>
                <a href="">About us</a>
                <a href="">Teams and Conditions</a>
                <a href="">Privacy Policy</a>
                <a href="">Careers with us</a>
                <a href="">Contact us</a>
                <a href="">FAQs</a>
            </div>
            <div class="col-md-3 footer-menu">
                <h5>Jobseekers</h5>
                <a href="">Browse all jobs</a>
                <a href="">Register Now</a>
                <a href="">Search Job</a>
                <a href="">Login</a>
                <a href="">Create Job Alert</a>
                <a href="">Report a Problem</a>
            </div>
        </div>
    </div>
    <div class="row footer-bar">
        <div class="col">
            <p class="text-center">Copyright © 2020 Dice. All rights reserved. Use of this site is subject to certain Terms and Conditions</p>
        </div>
    </div>
</div>
