<section id="features" _ngcontent-vaq-c6="" id="features" class="features section-bg">
  <div
    _ngcontent-vaq-c6=""
    data-aos="fade-up"
    class="container aos-init aos-animate"
  >
    <div _ngcontent-vaq-c6="" class="section-header">
      <h2 _ngcontent-vaq-c6="">Events / Activities</h2>
      <p _ngcontent-vaq-c6="">
        Consequatur libero assumenda est voluptatem est quidem illum et officia
        imilique qui vel architecto accusamus fugit aut qui distinctio
      </p>
    </div>

      
    <ul class="nav nav-tabs d-flex justify-content-center align-items-center gap-3 flex-wrap" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab-32" role="tab" aria-selected="true" tabindex="0">
          <h4 class="mb-0">Up Coming <i class="fa fa-calendar-plus smallicons"></i></h4>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-33" role="tab" aria-selected="false" tabindex="-1">
          <h4 class="mb-0">Past Events <i class="fa fa-calendar-alt smallicons"></i></h4>
        </a>
      </li>
    </ul>

     <div class="tab-content">
      <div class="tab-pane active show" id="tab-32">
        <div class="row">
           <div _ngcontent-vaq-c6="" class="row">
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/upcoming/dhanurmasa.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/upcoming/goda-kalyanam.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/upcoming/lalitha.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
        </div>
      </div>

      <div class="tab-pane active show" id="tab-33">
        <div class="row">
           <div _ngcontent-vaq-c6="" class="row">
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/bharth-sangeeth-utsav.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/Deepa-lakshmi-pooja.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/devi-navaratri-celebration.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/ganesh-chaturathi-celebrations.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/hanuman-chalisa.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/raksha-bandan.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/samuhika-satya-naryana-varatha.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/special-graduation-pooja.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/vaikunta-dwara-darshnam.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/varalakshmi-vratham.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
        </div>
      </div>
    </div>
     
  </div>
</section>
