<section _ngcontent-vaq-c6="" id="features" class="features section-bg">
  <div
    _ngcontent-vaq-c6=""
    data-aos="fade-up"
    class="container aos-init aos-animate"
  >
    <div _ngcontent-vaq-c6="" class="section-header">
      <h2 _ngcontent-vaq-c6="">Events / Activities</h2>
      <p _ngcontent-vaq-c6="">
        Consequatur libero assumenda est voluptatem est quidem illum et officia
        imilique qui vel architecto accusamus fugit aut qui distinctio
      </p>
    </div>
    <ul
      _ngcontent-vaq-c6=""
      class="nav nav-tabs row g-2 d-flex aligns-items-center justify-content-center"
      role="tablist"
    >
      <li _ngcontent-vaq-c6="" class="nav-item col-2" role="presentation">
        <a
          _ngcontent-vaq-c6=""
          data-bs-toggle="tab"
          data-bs-target="#tab-22"
          class="nav-link active show"
          aria-selected="true"
          role="tab"
          ><h4 _ngcontent-vaq-c6="">Up Coming</h4></a
        >
      </li>
      <li _ngcontent-vaq-c6="" class="nav-item col-2" role="presentation">
        <a
          _ngcontent-vaq-c6=""
          data-bs-toggle="tab"
          data-bs-target="#tab-21"
          class="nav-link"
          aria-selected="false"
          tabindex="-1"
          role="tab"
          ><h4 _ngcontent-vaq-c6="">Past Events</h4></a
        >
      </li>
    </ul>
    <div _ngcontent-vaq-c6="" class="tab-content">
      <div
        _ngcontent-vaq-c6=""
        id="tab-21"
        class="tab-pane active show"
        role="tabpanel"
      >
        <div _ngcontent-vaq-c6="" class="row">
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/upcoming/dhanurmasa.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/upcoming/goda-kalyanam.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/upcoming/lalitha.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div _ngcontent-vaq-c6="" id="tab-22" class="tab-pane" role="tabpanel">
        <div _ngcontent-vaq-c6="" class="row">
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/bharth-sangeeth-utsav.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/Deepa-lakshmi-pooja.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/devi-navaratri-celebration.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/ganesh-chaturathi-celebrations.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/hanuman-chalisa.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/raksha-bandan.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/samuhika-satya-naryana-varatha.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/special-graduation-pooja.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/vaikunta-dwara-darshnam.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div _ngcontent-vaq-c6="" class="col-3 image_section">
            <img
              _ngcontent-vaq-c6=""
              src="../../../assets/images/Events/past/varalakshmi-vratham.jpeg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
