<div class="header bg-image">
    <div class="container">
      <div class="p-0">
        <div class="row">
           <div class="col-lg-3">
             <img class="img-fluid" src="../../../../assets/images/image-left.png" alt="leftimage"/>
           </div>
           <div class="col-lg-6">
            <img class="img-fluid" src="../../../../assets/images/jnana_mandir_logo.png" alt="logoimage"/>
           </div>
           <div class="col-lg-3">
            <img class="img-fluid" src="../../../../assets/images/image-right.png" alt="rightimage"/>
           </div>
        </div>
    </div>
    </div>
  </div>
  