 <!-- ======= Features Section ======= -->
 <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Media / Gallery</h2>
        <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p>
      </div>

      <ul class="nav nav-tabs row  g-2 d-flex aligns-items-center justify-content-center">

        <li class="nav-item col-2">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-11">
            <h4>Temple Architecture</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-12">
            <h4>Events Gallery</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item col-2">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-13">
            <h4>Site Gallery</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-11">
            <div class="row">
                <div class="col-3 image_section"><img src="../../../assets/images/media/gallery-1.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/gallery-2.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/gallery-3.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/gallery-4.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/gallery-5.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/gallery-6.jpg" class="img-fluid" alt=""></div>
            </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-12">
            <div class="row">
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656669900.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656669901.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656669975.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656669992.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670012.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670046.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670065.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670079.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670141.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670146.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670153.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/p-1/1656670181.jpg" class="img-fluid" alt=""></div>
            </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-13">
            <div class="row">
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-10.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-18.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-19.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-6.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-7.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-8.jpg" class="img-fluid" alt=""></div>
                <div class="col-3 image_section"><img src="../../../assets/images/media/site/gallery-9.jpg" class="img-fluid" alt=""></div>
            </div>
        </div><!-- End tab content item -->

      </div>

    </div>
  </section><!-- End Features Section -->