  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>News</h2>
        <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
      </div>

      <div class="slides-2 swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-01.jpg" class="testimonial-img" alt=""> -->
                <h3>PRE-OPENING EVENT HELD FOR NEW SRI SAI BALAJI TEMPLE IN NEW JERSEY</h3>
                <p>
                    A pre-opening event was held on May 15, 2022, at the new and first-of-its-kind Sri Sai Balaji Temple being constructed at Monroe, New Jersey. The event was attended by diverse Hindu devotees whose ancestry is from different states in India.
                </p>
                <br>
                <button>Read Full Article</button>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-02.jpg" class="testimonial-img" alt=""> -->
                <h3>A USD30 MILLION SAI BALAJI TEMPLE COMING UP IN NEW JERSEY</h3>
                <!-- <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div> -->
                <p>
                    A grand temple dedicated to Sai Balaji along with a cultural centre and a gigantic 30-feet statue of Hanuman is fast coming up in a New Jersey city at an estimated cost of more than USD30 million.
                </p>
                <br>
                <button>Read Full Article</button>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-03.jpg" class="testimonial-img" alt=""> -->
                <h3>OM SAI BALAJI TEMPLE, NJ, HOLDS AWARENESS, FUNDRAISING EVENT</h3>
                <p>
                    On April 2, the Om Sai Balaji Temple conducted a temple awareness and fundraising event at the newly-built campus in Monroe, New Jersey, for the first phase of the temple building 'Sai Jnana Mandir' (centre for cultural and spiritual education).
                </p>
                <br>
                <button>Read Full Article</button>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-04.jpg" class="testimonial-img" alt=""> -->
                <h3>ఓం శ్రీ సాయి బాలాజీ టెంపుల్ కోసం నడుం బిగించిన ఎన్నారైలు</h3>
                <p>
                    ఓం శ్రీ సాయి బాలాజీ టెంపుల్ అండ్ కల్చరల్ సెంటర్ కోసం నడుం బిగించారు ఎన్నారైలు. అగ్రరాజ్యం అమెరికా లో స్థిరపడిన తెలుగువాళ్లు ఒకవైపు తమ ఉద్యోగాలు చేస్తూనే ఆథ్యాత్మిక కార్యక్రమాల్లో కూడా భాగస్వాములు అవుతున్నారు.
                </p> 
                <br>
                <button>Read Full Article</button>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>OM SRI SAI BALAJI TEMPLE AND CULTURAL CENTER FUNDRAISING EVENT</h3>
                
                <p>
                    Om Sri Sai Balaji Temple which was located in Monroe, New Jersey has conducted the temple awareness and fundraising event along with the Prana Pratishta. The event has taken place on April 2nd at 6:00 PM EST, 285, Rhode Hall Rd, Monroe, NJ 08831. </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>SAI BALAJI TEMPLE IN MONROE – NEW JERSEY</h3>
                
                <p>
                    On Saturday, April 2nd, Om Sri Balaji Temple conducted a temple awareness and fundraising event at the newly built campus located at 285 Rhode Hall Road, Monroe, NJ. The first phase of the temple building is “Sai Jnana Mandir” (center for cultural and spiritual education). The event included live performances, recitation of Vedic hymns, inspiring speeches by the founder and trustees speeches, and a charity show. The event was a grand success, attended by over 400 guests.
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>US: $30 MILLION SAI BALAJI TEMPLE COMING UP IN NEW JERSEY</h3>
                
                <p>
                    The statue of Hanuman inside its sprawling 12 acres campus of Om Sri Balaji Temple, would be visible to the entire township of Monroe in New Jersey. A grand temple dedicated to Sai Balaji along with a cultural centre and a gigantic 30-feet statue of Hanuman is fast coming up in a New Jersey city at an estimated cost of more than USD30 million.
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>WASHINGTON : न्यू जर्सी में साईं बालाजी मंदिर की स्थापना के लिए खर्च किए जाएंगे तीन करोड़ डॉलर</h3>
                
                <p>
                    अमेरिका के न्यू जर्सी (: New Jersey of America) में तीन करोड़ डॉलर की लागत से साईं बालाजी को समर्पित एक भव्य मंदिर (A grand temple dedicated to Sai Balaji) के साथ ही 30 फुट ऊंची भगवान हनुमान की मूर्ति और विशाल सामुदायिक केंद्र की स्थापना की जाएगी।
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>A $30 MILLION SAI BALAJI TEMPLE COMING UP IN NEW JERSEY</h3>
                
                <p>
                    During a temple awareness and fund-raising event over the weekend, at the newly built campus in Monroe, temple officials announced that the first phase of the project is completed
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>A USD30 MILLION SAI BALAJI TEMPLE COMING UP IN NEW JERSEY</h3>
                
                <p>
                    A grand temple dedicated to Sai Balaji along with a cultural centre and a gigantic 30-feet statue of Hanuman is fast coming up in a New Jersey city at an estimated cost of more than USD30 million.
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>A USD30 MILLION SAI BALAJI TEMPLE COMING UP IN NEW JERSEY</h3>
                
                <p>
                    A grand temple dedicated to Sai Balaji along with a cultural centre and a gigantic 30-feet statue of Hanuman is fast coming up in a New Jersey city at an estimated cost of more than USD30 million.
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>SRI BALAJI TEMPLE CONDUCTED A TEMPLE AWARENESS AND FUND-RAISING EVENT</h3>
                
                <p>
                    On Saturday, April 2nd, Om Sri Balaji Temple conducted a temple awareness and fund-raising event at the newly built campus located at 285 Rhode Hall Road, Monroe, NJ. The first phase of the temple building “Sai Jnana Mandir” (center for cultural and spiritual education).
                 </p>
                    <br>
                    <button>Read Full Article</button>
                </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->