 <!-- ======= Features Section ======= -->
 <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p>
      </div>

      <ul class="nav nav-tabs row  g-2 d-flex aligns-items-center justify-content-center">

        <li class="nav-item col-1">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>Deities</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-1">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>Team</h4>
          </a><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

            <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-3 image_section"><img src="../../../assets/images/deities/annapurna.jpg" class="img-fluid" alt=""><h5> Annapurna</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/ayyapa.jpg" class="img-fluid" alt=""><h5> Ayyapa</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/balaji.jpg" class="img-fluid" alt=""><h5> Venkateswara Swami</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/balakrishnudu.jpg" class="img-fluid" alt=""><h5> Bala Krishnudu</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/dakshinamurthy.jpg" class="img-fluid" alt=""><h5> Dakshina Murthy</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/dattatreya.jpg" class="img-fluid" alt=""><h5> Dattatreya</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/durga.jpg" class="img-fluid" alt=""><h5> Durga Devi</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/ganapathi (1).jpg" class="img-fluid" alt=""><h5> Sankatahara Ganapati</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/hanuman.jpg" class="img-fluid" alt=""><h5> Veera Hanuman</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/Kanika Parameswari.png" class="img-fluid" alt=""><h5> Kanika Parameswari</h5></div>
            <div class="col-3 image_section"><img src="../../../assets/images/deities/lordshiva.jpg" class="img-fluid" alt=""><h5> Lord Shiva</h5></div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <p class="fst-italic">The Om Sri Sai Balaji Temple is being built by the following founders.</p>
            <div class="col-4">
              <div class="p-10">
                <h3>Suryanarayana Maddula</h3>
                <h6>Founder and Chairman</h6>
              </div>
              <p>Mr. Suryanarayana Maddula,a successful Pharmacist and a Businessman migrated to the United States in the 
                early 1970’s. After building a temple in his hometown in India, he realized he wanted to build one in the 
                US as well. He envisioned a temple that could pass down Indian traditions and culture for future generations 
                to come. Suryanarayana Rao is supported by his wife, Mrs. Prabhavathi Maddula, who actively participates in 
                all temple initiatives.</p>
            </div>
            <div class="col-4">
              <div class="p-10">
                <h3>Ramakrishna Sannidhi</h3>
                <h6>Co-Founder and Vice Chairman</h6>
              </div>
              <p>Mr. Ramakrishna Sannidhi has been in the pharmacy business for over 30 years. He is very devoted, service oriented, 
                and eager to serve the community. Ramakrishna and his wife, Lalitha Sannidhi, participate in bhajans and educational 
                programs at the Sathya Sai Center of East Brunswick, NJ.</p>
            </div>
            <div class="col-4">
              <div class="p-10">
                <h3>Ramesh Taduvai</h3>
                <h6>Co-Founder and Vice Chairman</h6>
              </div>
              <p>Mr. Ramesh Taduvai has worked as a pharmacist for more than 15 years. He and his wife, Mrs. Vani Taduvai, are 
                ardent Shirdi Sai Baba devotees and volunteer at the local Shirdi Sai temple.</p>
            </div>
          </div>
        </div><!-- End tab content item -->

      </div>

    </div>
  </section><!-- End Features Section -->