section{
    padding: 40px 0!important;
}
.section-header {
    text-align: center;
    padding-bottom: 30px;
}
.nav-tabs .nav-link {
    border: none!important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #feb900!important;
    background-color: none!important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #feb900!important;
    background-color: #f5f6f7!important;
}
.tab_section_gap{
    margin-left:100px;
}
.image_section img{
    margin-bottom: 10px;
}
.image_section h5{
    text-align: center!important;
    font-weight: bold;
}